body{
	background-color: #f8f9fa;

}
.fas{
	color:white;
	font-size: 1.2em;
}
.nav li a{
	text-decoration: none;
}

.leftBox{
	float:left;
}
.rightBox{
	float:right;
}
.profileBox{
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.newsfeed{
	background-color: white;
	padding: 10px;
	margin-left: 10px;
}

.onePost{
	border-bottom: 1px solid gray;
}

.post_profile_pic{
	float: left;
	margin-right: 10px;
}
#time_message{
	font-size: 0.8em;
	font-style: italic;
	color:gray;
}
.status_post{
	margin-top: 20px;
	background-color: white;
	border:1px solid #f5f5f5;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: 1;
	width:100%;
	cursor: pointer;
}

.comment_section{
	width:97%;
	margin:8px;
}

.iframe_post{
	width: 97%; 
	margin: 10px; 
	border: 0;
}
.img_pix{
	float:left;
}


