body{
	background-color:#e8e8e8;
}
sup{
	color:red;
}
.fas{
	color:white;
	font-size: 1.2em;
}
.nav li a{
	text-decoration: none;
}

.leftBox{
	float:left;
	border-radius: 10px;
}
.rightBox{
	float:right;
}

.nav_tab_box{
	background: white;
	padding: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	border-radius: 10px;
	min-height: 200px;
}
.profileBox{
	background: white;
	border-radius: 8px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}
.userBox{
	background: white;
	height: 150px;
	border-radius: 10px;
	box-shadow: 2px 2px 1px #D3D3D3;
}

.newsfeed{
	background-color: white;
	padding: 10px;
	margin-left: 10px;
	box-shadow: 2px 2px 1px #D3D3D3;
	border-radius: 10px;
}

.profile_feed{
	padding-left:0;
}

.onePost{
	border-bottom: 1px solid gray;
}

.post_profile_pic{
	float: left;
	margin-right: 10px;
}

.time_message{
	font-size: 0.7em;
	font-style: italic;
	color:gray;
}

.status_post{
	margin-top: 20px;
	background-color: white;
	/* border:1px solid #f5f5f5; */
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: 1;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 10px;
}

.comment_section{
	width:97%;
	margin:8px;
}

.iframe_post{
	width: 97%; 
	margin: 10px; 
	border: 0;
	border-radius: 5px;
}
.img_pix{
	float:left;
}
.comments{
	font-size: 0.9em;
	font-style: italic;
}
.past_comment{
	font-size: 0.7em;
	font-style: italic;
	color:gray;
	margin:0;
}
.like_body{
	background: white;
	padding-right: 10px;
}
.iframe_like{
	border:0;
	height:35px;
}
.like-frame{
	width: 100px;
}

.img_header{
	width:100%;
	border-radius: 10px;
	box-shadow: 2px 2px 1px #D3D3D3;
}

.jumbotron{
	margin:0;
	margin-top:10px;
	padding:0;
	z-index: 1;
}

.fas:hover{
	color:red;
}
#friend_request{
	color:gray;
}

.del_button{
	width: 20px;
    height: 20px;
    font-size: 0.5em;
    padding: 0;
}

.CropContainer{
	width:800px; 
	max-height:600px; 
	background-color:#FFF; 
	margin-left: -200px; 
	position:relative; 
	overflow:hidden; 
	border:1px #666 solid; 
	z-index:2001; 
	padding-bottom:0px;
	margin:0 auto;
}

#CroppingArea{
	width:500px; 
	max-height:400px; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 40px 40px; 
	border:1px #666 solid; 
	float:left;
}
#CropImageForm2{
	height:30px; 
	float:left; 
	margin:5px 0px 0px 40px;
}
.image_crop_button {
	width:200px;
	height:30px;
}

.user_message{
	display: inline-block;
    padding:3px 5px 3px 5px;
	background: #28a745;
    color: white;
    border-radius: 5px;
}

.friend_message{
	display: inline-block;
    padding:3px 5px 3px 5px;
    background: #007bfe;
    color: white;
	border-radius: 5px;
}

.messaging_box{
	min-height: 100px;
    max-height: 400px;
    overflow: scroll;
}

.messaging_profile_box{
	min-height: 100px;
    max-height: 500px;
    overflow: scroll;
}

.send_button{
	width:100px;
	height:30px;
}

.chat_profile{
	width:120%;
}

.user_profile{
	widows: 20%;
	float: left;
	border-radius: 50%;
}
.fa-pen{
	color:#007bfe;
}
#show_chat{
	font-size: 0.9em;
	color:red;
}
.new_chat #show_chat{
	visibility: hidden;
}
.new_chat:hover #show_chat{ 
	visibility: visible;
}

#search_result_header{
	font-style: italic;
	margin-bottom: 10px;
}
.friendslist{
	margin-top:20px;
}
.search_header{
	padding:0 2px 0 0;
	margin:5px 0 0 0;
}
.search_card{
	font-size: 0.9em;
}
.mutual_friends{
	margin-left:0;
}
.profile_image{
	border-radius: 50%;
}

.MessageHeader{
	margin-top:10px;
}