body{
	background-color:#e8e8e8;
	font-size:0.9em;
}
sup{
	color:red;
}
h4 hr{
	margin-top:10px;
	margin-bottom:10px;
}

.navbar{
	background: #7952b3
}

.navbar-toggler{
	background:white;
	border: 1 solid white;
}
.image_upload>input{
	visibility:hidden;
	width:0;
	height:0;
}

#image_share_image{
	width:15%;
	height:15%;
}
#comments_body{
	background-color: white;
	font-size:0.9em;
}
.dropdown-item:hover a{
	text-decoration: none;
}
.dropdown-item:hover{
	background: rgb(202, 211, 238);
}
.dropdown-item{
	padding-left:5px;
	padding-right:5px;
}
.fas{
	color:white;
	font-size: 1.2em;
}

.fas:hover{
	color:red;
}

.fa-image{
	color:#16aabf;
	font-size:1.2em;
}
.nav li a{
	text-decoration: none;
}

.leftBox{
	float:left;
	border-radius: 10px;
}
.rightBox{
	float:right;
}

.nav_tab_box{
	background: white;
	padding: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	border-radius: 10px;
	min-height: 200px;
}
.profileBox{
	background: white;
	border-radius: 8px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	padding-bottom: 10px;
}

.userBox{
	background: white;
	padding: 5px 10px 10px 10px;
	border-radius: 10px;
}

.newsfeed{
	background-color: white;
	padding: 10px;
	margin-right:10px;
	box-shadow: 2px 2px 1px #D3D3D3;
	border-radius: 10px;
}

.message_feed{
	margin-right:0;
}
.profile_set{
	border:0;
}

.onePost{
	border-bottom: 1px solid gray;
	height:auto;
}
.status_single_post{
	width:96%;
}


.post_profile_pic{
	float: left;
	margin-right: 10px;
}

.time_message{
	font-size: 0.7em;
	font-style: italic;
	color:gray;
}

.status_post{
	margin-top: 10px;
	background-color: white;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: 1;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 10px;
}

.comment_section{
	width:97%;
	margin:8px;
}

.iframe_post{
	width: 97%; 
	margin: 10px; 
	border: 0;
	border-radius: 5px;
}
.img_pix{
	float:left;
}
.comments{
	font-size: 0.9em;
	font-style: italic;
}
.past_comment{
	font-size: 0.7em;
	font-style: italic;
	color:gray;
	margin:0;
}
.like_body{
	background: white;
	padding-right: 10px;
}
.iframe_like{
	border:0;
	height:35px;
}
.like-frame{
	width: 100px;
}

.img_header{
	width:100%;
	border-radius: 10px;
	box-shadow: 2px 2px 1px #D3D3D3;
}

.jumbotron{
	margin:0;
	margin-top:10px;
	padding:0;
	z-index: 1;
}

#friend_request{
	color:gray;
}

.del_button{
	width: 13px;
    height: 13px;
    font-size: 0.1em;
    padding: 0;
}

.CropContainer{
	width:800px; 
	max-height:600px; 
	background-color:#FFF; 
	margin-left: -200px; 
	position:relative; 
	overflow:hidden; 
	border:1px #666 solid; 
	z-index:2001; 
	padding-bottom:0px;
	margin:0 auto;
}

#CroppingArea{
	width:500px; 
	max-height:400px; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 40px 40px; 
	border:1px #666 solid; 
	float:left;
}
#CropImageForm2{
	height:30px; 
	float:left; 
	margin:5px 0px 0px 40px;
}
.image_crop_button {
	width:200px;
	height:30px;
}

.user_message{
	display: inline-block;
    padding:3px 5px 3px 5px;
	background: #28a745;
    color: white;
    border-radius: 5px;
}

.friend_message{
	display: inline-block;
    padding:3px 5px 3px 5px;
    background: #007bfe;
    color: white;
	border-radius: 5px;
}

.messaging_box{
	min-height: 100px;
    max-height: 400px;
    overflow: scroll;
}

.messaging_profile_box{
	min-height: 100px;
    max-height: 500px;
    overflow: scroll;
}

.send_button{
	width:100px;
	height:30px;
}

.chat_profile{
	width:120%;
}

.user_profile{
	widows: 20%;
	float: left;
	border-radius: 50%;
}
.fa-pen{
	color:#007bfe;
}
#show_chat{
	font-size: 0.9em;
	color:red;
}
.new_chat #show_chat{
	visibility: hidden;
}
.new_chat:hover #show_chat{ 
	visibility: visible;
}

#search_result_header{
	font-style: italic;
	margin-bottom: 10px;
}
.friendslist{
	margin-top:20px;
}
.search_header{
	padding:0 2px 0 0;
	margin:5px 0 0 0;
}
.search_card{
	font-size: 0.9em;
}
.mutual_friends{
	margin-left:0;
}
.profile_image{
	border-radius: 50%;
}

.MessageHeader{
	margin-top:10px;
}

.message_not_viewed{
	background: rgb(226, 239, 245);
	width:350px;
}

.message_viewed{
	width:350px;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown_window{
	overflow:scroll;
}

#EndOfMessage{
	margin-left: 35%;
	font-size: 0.8em;
	font-style: italic;
	width:300px;
}

.notification_badge{
	vertical-align: baseline;
	background: red;
	color:white;
    border-radius: 50%;
    padding: 3px 5px;
    line-height: 1;
    position: absolute;
    left: 20px;
    top: 1px;
    font-size: 0.6em;
}

.notification_message{
	font-size:0.9em;
	color:#6c757d;
}

.SearchList{
	position: absolute;
    top: 45px;
    left: 115px;
	width: 300px;
	background: white;
	padding-left:5px;
	padding-right:5px;
	border-radius:10px;
	z-index:1;
}

.search_result{
	padding-top:5px;
	border:0;
}
.search_line{
	margin-top:0;
	margin-bottom:0;
}

.see_all_results{
	text-align: center;
    margin-bottom: 10px;
}

.no_search_found{
	padding-top: 10px;
}

.settings_page{
	background:white;
	padding:20px 10px 10px 10px;
}

.iframe_profile{
	width: 100%; 
	margin: 10px; 
	height: 800px;
	padding-right:20px;
	border: 0;
	border-radius: 5px;
	background: white;
}

.upload_column{
	background:white;
}

.header_image{
	width:70%;
	height: 70%;
}

.youtube{
	padding:10px;
}
#covid_header{
	font-size: 0.8em;
	font-style: italic;
}
.covid_table{
	font-size: 0.9em;
	width:85%;
	margin: 0 auto;
}
.covid_title{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom:5px;
}

.country_dropdown{
	width:80%;
	margin-left:20px;

}

.entry_success{
	color:red;
}
